<div class="main">
  <div class="container">

<h1>This is the ABOUT page</h1>

<h3>Go to other pages:</h3>
<ul>
  <li><%= link_to("Home", {:action=> "home"})%></li>
  <li><%= link_to("New", {:action=> "new"})%></li>
</ul>

 <br>


<br>

</div>
</div>
