
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>This is the ABOUT page</h1>
            
            <h3>Go to other pages:</h3>
            <ul>
              <li><%= link_to("About", {:action=> "about"})%></li>
              <li><%= link_to("New", {:action=> "new"})%></li>  
            </ul>

            <br>

          
          </div>
        </div>

      </div>


