<h1> JS Test </h1>

<%= link_to 'Change Below', root_path, remote: true %>

<div id="paragraphs">
  <p id="first-para">Blah blah blah...</p>
  <p id="second-para">Blee blee blee...</p>


  <span class="glyphicon glyphicon-heart" ></span>
  Liked by <a class="updateCount">1</a> others

          
</div>


<button class="btn btn-default" id="js-button">Button</button>

<%= link_to "AJAX Link", root_path, class: "btn btn-info" %>

<div id="target-for-change">
  Now you see "ME"!
</div>




