<div class="main">
  <div class="container">

<h1>This is the NEW page</h1>

<h3>This site has 3 route pages:</h3>
<ul>
  <li>Home</li>
  <li>About</li>
  <li>New</li>
</ul>



<%= link_to("Back to the HOME Page", {:action=> "home"})%> <br>
<%= link_to("Go to the ABOUT Page", {:action=> "about"})%>

</div>
</div>
